// #################### App UI Variables ##################
$primary-color: #131A21;
$secondary-color: #252A39;
$highlight-color: #8FE4FF;
$copywrite-color: #717174;

$box-shadow-dark: 0px 3px 6px rgba(0, 0, 0, .16);
$box-shadow-glow-wide: 0px 0px 15px rgba(143, 228, 255, 1);
$box-shadow-glow-narrow: 0px 0px 2px rgba(131, 144, 148, 0.5);

$transition-speedy: all 0.07s;
$transition-standard: all 0.33s ease-in-out;


// #################### App UI Fonts ##################
@font-face {
    src: url('../fonts/product-sans/product_sans.woff2');
    font-family: 'product-sans';
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: 'product-sans';
    letter-spacing: 0.2vw;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}


// #################### App Header UI settings ##################
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.header__brand-icon {
    width: 170px;
    height: auto;
    margin-left: 1vw;
    margin-top: 1vw;

    @media only screen and (max-width: 600px)  {
        width: 100px;
        margin-left: 5vw;
        margin-top: 5vw;
    }
}

.header__setting {
    position: relative;
    align-self: flex-start;
    height: 80px;
    width: 80px;
    background-color: $secondary-color;
    border-bottom-left-radius: 100%;
    margin-left: auto;
    box-shadow: $box-shadow-dark;
    cursor: pointer;

    @media only screen and (max-width: 600px)  {
        height: 70px;
        width: 70px;
    }
}

.header__setting-icon {
    position: absolute;
    width: 35%;
    height: auto;
    right: 17px;
    top: 17px;
    transition: $transition-speedy;

    @media only screen and (max-width: 600px)  {
        right: 15px;
        top: 15px;
    }
}

.header__setting:hover {
    .header__setting-icon {
        transform: scale(1.1);
        filter: drop-shadow($box-shadow-glow-narrow);
    }
}


// #################### App Drum Area UI settings ##################
.drum-area {
    display: flex;
    padding: 0 1vw;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-top: 2vw;

    @media only screen and (max-width: 600px)  {
        margin-top: 20vw;
    }
}

.drum-area__key {
    display: flex;
    width: 17vw;
    height: 17vw;
    margin: .5vw;
    border-radius: 5px;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center;
    background-color: $secondary-color;
    box-shadow: $box-shadow-dark;
    transition: $transition-speedy;
    cursor: pointer;
}

.drum-area__key--mobile-1X {

    @media only screen and (max-width: 600px)  {
        width: 25vw;
        height: 25vw;
        margin: 2vw;
    }
}

.drum-area__key--2X {
    width: 35vw;
}

.drum-area__key-mobile--2X {
    @media only screen and (max-width: 600px)  {
        width: 39.5vw;
        height: 25vw;
        margin: 2vw;
    }
}

.drum-area__key-mobile--full {
    @media only screen and (max-width: 600px)  {
        width: 83vw !important;
        height: 25vw;
        margin: 2vw;
        order: 9;
    }
}

.drum-area__key-name {
    color: $highlight-color;
    font-size: 3vw;
    margin-bottom: 1vw;
    user-select: none;
    text-transform: uppercase;

    @media only screen and (max-width: 600px)  {
        font-size: 5vw;
    }
}

.drum-area__key-details {
    color: $highlight-color;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    user-select: none;

    @media only screen and (max-width: 600px)  {
        display: none;
    }
}

.drum-area__key--playing {
    background-color: $highlight-color;
    box-shadow: $box-shadow-glow-wide;
    transform: scale(1.03);

    h2 {
        color: $secondary-color !important;
    }

    p {
        color: $secondary-color !important;
    }
}

.playdrums__copywrite-text {
    position: absolute;
    bottom: .5vw;
    right: 2vw;
    color: $copywrite-color;
    font-size: .8vw;
    letter-spacing: .1vw;
    user-select: none;

    b {
        font-size: .9vw;
    }

    @media only screen and (max-width: 600px)  {
        display: inline-block;
        width: 100%;
        bottom: 4vw;
        font-size: 2.5vw;
        letter-spacing: .4vw;
        text-align: center;

        b {
            font-size: 3vw;
        }
    }
}